---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';

import ncaaMens from "../images/ncaaMens.jpg";
import ncaaWomens from "../images/ncaaWomens.jpg";
import eventLogo from '../images/ncaa2024color.png';
import franklinLogo from '../images/fcollege.png';
import shelbyvilleLogo from '../images/shelbyvilleCity.png';
import shelbyCountyLogo from '../images/SCTVB logo brand.jpg';

import { Content as NCAAContact } from '../content/ncaa/contact.md';
import { Content as NCAAInfo } from '../content/ncaa/meetInformation.md';
import { Content as NCAASchedule } from '../content/ncaa/schedule.md';

import config from '../config/ncaa.json';

const imagery = {
    header: {
        src: eventLogo,
        dims: {
            height: 160,
            width: 160
        },
        alt: config.header.alt,
        href: config.header.href
    },
    home: {
        banner: {
            main: {
                src: eventLogo,
                dims: {
                    height: 150,
                    width: 150
                },
                alt: config.home.bannerImageAlt,
                href: config.home.bannerImageHref
            },
            host: [
                {
                    src: franklinLogo,
                    alt: "Franklin College athletics logo",
                    href: "https://franklingrizzlies.com/",
                },
                {
                    src: shelbyvilleLogo,
                    alt: "City of Shelbyville logo",
                    href: "https://www.shelbyville.in.gov/",
                },
                {
                    src: shelbyCountyLogo,
                    alt: "Shelby County Travel & Visitor's Bureau logo",
                    href: "https://visitshelbycounty.com/"
                }
            ]
        },
        coverImages: [
            {
                "src": ncaaMens,
                "alt": config.home.coverImageAlt
            },
            {
                "src": ncaaWomens,
                "alt": config.home.coverImageAlt
            }
        ]
    }
}
---

<Layout config={config.meta} imagery={imagery.header} route="ncaa">
    <Main route="ncaa" config={config} imagery={imagery}>
        <NCAAInfo slot="info" />
        <NCAASchedule slot="schedule" />
        <NCAAContact slot="contact" />
    </Main>
</Layout
