---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';

import usatfCover from "../images/usatfCover.jpg";
import eventLogo from '../images/usatf2024jo.png';
import usatfLogo from '../images/usatf.png';
import shelbyvilleLogo from '../images/shelbyvilleCity.png';
import shelbyTourismLogo from '../images/SCTVB logo brand.jpg';

import { Content as USATFContact } from '../content/usatf/contact.md';
import { Content as USATFInfo } from '../content/usatf/meetInformation.md';
import { Content as USATFSchedule } from '../content/usatf/schedule.md';

import config from '../config/usatf.json';

const imagery = {
    header: {
        src: eventLogo,
        dims: {
            height: 126,
            width: 320
        },
        alt: config.header.alt,
        href: config.header.href
    },
    home: {
        banner: {
            main: {
                src: usatfLogo,
                dims: {
                    height: 150,
                    width: 106
                },
                alt: config.home.bannerImageAlt,
                href: config.home.bannerImageHref
            },
            host: [
                {
                    src: shelbyvilleLogo,
                    alt: "City of Shelbyville logo",
                    href: "https://www.shelbyville.in.gov/",
                },
                {
                    src: shelbyTourismLogo,
                    alt: "Shelby County Travel & Visitor's Bureau logo",
                    href: "https://visitshelbycounty.com/"
                }
            ]
        },
        coverImages: [
            {
                "src": usatfCover,
                "alt": config.home.coverImageAlt
            }
        ]
    }
}
---

<Layout config={config.meta} imagery={imagery.header} route="usatf">
    <Main route="usatf" config={config} imagery={imagery}>
        <USATFInfo slot="info" />
        <USATFSchedule slot="schedule" />
        <USATFContact slot="contact" />
    </Main>
</Layout
