---
import Directions from "./Directions.astro"
import Contact from "./Contact.astro"
import Home from "./Home.astro"
import Information from "./Information.astro"
import Visitors from "./Visitors.astro"

const { config, imagery, route } = Astro.props;
---
<div class="w-full h-screen">
    <div id="main-home" class="hidden h-full"><Home config={config.home} imagery={imagery.home} /></div>
    <div id="main-meet" class="hidden"><Information route={route} /></div>
    <div id="main-directions" class="hidden"><Directions /></div>
    <div id="main-visitors" class="hidden"><Visitors /></div>
    <div id="main-contact" class="hidden"><Contact /></div>
</div>
<script>
    window.addEventListener("message", (e) => {
        if (e.data.activePage) {
            if (e.data.deactivatedPage) {
                document.getElementById('main-' + e.data.deactivatedPage)?.classList.add('hidden')
            }

            document.getElementById('main-' + e.data.activePage)?.classList.remove('hidden')
        }
    })
</script>
